<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hello-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Mensaje:  [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `hello-component`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HelloComponent extends Polymer.Element {
      static get is() { return 'hello-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hello-component'
          }
        };
      }
      connectedCallback(){
        //Ciclo de vida de los polylmer (HTML nativo)
        super.connectedCallback();

        //We reference desired channel...
        const saludoChannel = Cells.Bus.channel('saludo');

        //Channel description
        saludoChannel.subscribe(this._handleAnnouncer.bind(this));
      }
      _handleAnnouncer(msg){
          this.set('prop1',msg);
      }
    }

    window.customElements.define(HelloComponent.is, HelloComponent);
  </script>
</dom-module>
