<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="posts-dm">
  <template>
    <style></style>

    <cells-generic-dp
      id="postsDP"
      host="https://jsonplaceholder.typicode.com"
      path="posts"
      params=[[requestParams]]
      method="GET">
    </cells-generic-dp>
  </template>

  <script>
    class PostsDM extends Polymer.Element {
      static get is() {
        return 'posts-dm';
      }

      static get properties() {
        return {
          userId: {
            type: String,
            value: ''
          },
          requestParams: {
            type: Object,
            value: {},
            computed: '_computeRequestParams(userId)'
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();

        this.addEventListener('request-success', e => this._userPostsLoaded(e));
      }

      disconnectedCallback() {
        super.disconnectedCallback();

        this.removeEventListener('request-success', this._userPostsLoaded);
      }

      loadUserPosts(status) {
        const isPageActive = status.value;

        if (isPageActive) {
          this.dispatchEvent(new CustomEvent('users-posts-loading-start', { detail: true }));

          this.$.postsDP.generateRequest();
        }
      }

      _computeRequestParams(userId) {
        return {
          userId: userId
        };
      }

      _userPostsLoaded(event) {
        const posts = event.detail;

        this.dispatchEvent(new CustomEvent('user-posts-loading-finish', { detail: false }));
        this.dispatchEvent(new CustomEvent('user-posts-loaded', { detail: posts }));
      }
    }

    customElements.define(PostsDM.is, PostsDM);
  </script>
</dom-module>
