<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="about-page">
  <template>
    <style is="custom-style"></style>

    <h1>This is a private page.</h1>
    <h3>You should only see this page if you are 'logged' (sessionStorage.isLogged = true)</h3>
  </template>

  <script>
    class AboutPage extends Polymer.Element {
      static get is() {
        return 'about-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {

        };
      }
    }

    customElements.define(AboutPage.is, AboutPage);
  </script>
</dom-module>
