<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="products-accounts-page">
  <template>
    <style is="custom-style"></style>

    <h1>PRUEBA Accounts</h1>
  </template>

  <script>
    class ProductsAccountsPage extends Polymer.Element {
      static get is() {
        return 'products-accounts-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {

        };
      }
    }

    customElements.define(ProductsAccountsPage.is, ProductsAccountsPage);
  </script>
</dom-module>
