<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="say-dp">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>SAY COMPONENT</h2>
    <button on-click="handleEvent">MANDAR MENSAJE</button>
  </template>

  <script>
    /**
     * `say-dp`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SayDp extends Polymer.Element {
      static get is() { return 'say-dp'; }
      static get properties() {
        return {};
        }
        handleEvent(){
          //Me engancho al canal
          Cells.Bus.channel('saludo').publish('Hello Darling');
        }
      }

    window.customElements.define(SayDp.is, SayDp);
  </script>
</dom-module>
