<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="comments-list">
  <template>
    <style></style>

    <ul>
      <template is="dom-repeat" items="[[comments]]" as="comment">
        <p><h1>[[comment.name]]</h1></p>
        <p><h3>[[comment.body]]</h3></p>
        <a href="mailto:[[comment.email]]">[[comment.email]]</a>
      </template>
  </ul>
  </template>

  <script>
    class CommentsList extends Polymer.Element {
      static get is() {
        return 'comments-list';
      }

      static get properties() {
        return {
          comments: {
            type: Array,
            value: []
          }
        };
      }

      clear() {
        this.set('comments', []);
      }
    }

    customElements.define(CommentsList.is, CommentsList);
  </script>
</dom-module>
